<mat-toolbar color="green">
  <span>Booking</span>
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<button mat-icon-button color="green" (click)="addItem()">
  <mat-icon aria-label="Add new booking">add</mat-icon>
</button>

<div *ngIf="calendarOptions">
  <ng-fullcalendar #ucCalendar [options]="calendarOptions" [(eventsModel)]="events" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
                   (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)" (eventRender)="eventRender($event.detail)"></ng-fullcalendar>
</div>
