<div class="container">
  <h3 mat-dialog-title>Add new product</h3>

  <form class="mat-dialog-content" (ngSubmit)="confirmAdd(productForm)" [formGroup]="productForm" enctype="multipart/form-data">
    <div class="form-group">
      <mat-form-field color="green">
        <input matInput placeholder="Name" name="name"
               formControlName="name" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="green">
        <input matInput type="number" step=".01" placeholder="Price" name="price"
               formControlName="price" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="image">Image</label><br>
      <img height="50px" width="50px" src="{{ url }}" *ngIf="url">
      <input type="file" id="image" (change)="onFileChange($event)" #fileInput>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!productForm.valid" [mat-dialog-close]="1">Save</button>
    </div>
  </form>
</div>
