<div class="nav-side-menu" *ngIf="isLoggedIn && user">
  <div class="brand">ReServe</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a href="#"><i class="fa fa-dashboard fa-lg fa-fw sidebar-icon"></i> Dashboard</a>
      </li>

      <!--<li>
        <a href="#"><i class="fa fa-calendar fa-lg fa-fw sidebar-icon"></i> Scheduler</a>
      </li>

      <li>
        <a href="#"><i class="fa fa-bar-chart fa-lg fa-fw sidebar-icon"></i> Statistics</a>
      </li>

      <li  data-toggle="collapse" data-target="#manage" class="collapsed">
        <a href="#"><i class="fa fa-puzzle-piece fa-lg fa-fw sidebar-icon"></i> Manage <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="manage">
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Devices</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Groups</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> SIM Cards</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Users</a></li>
      </ul>

      <li  data-toggle="collapse" data-target="#settings" class="collapsed">
        <a href="#"><i class="fa fa-sliders fa-lg fa-fw sidebar-icon"></i> Settings <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="settings">
        <li><a href="#"><i class="fa fa-angle-double-right"></i> General</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Security</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Notifications</a></li>
      </ul>

      <li  data-toggle="collapse" data-target="#maintenance" class="collapsed">
        <a href="#"><i class="fa fa-cogs fa-lg fa-fw sidebar-icon"></i> Maintenance <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="maintenance">
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Operation Logs</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Events and Alarms</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Backup and Restore</a></li>
      </ul>

      <li  data-toggle="collapse" data-target="#tools" class="collapsed">
        <a href="#"><i class="fa fa-wrench fa-lg fa-fw sidebar-icon"></i> Tools <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="tools">
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Manual SMS</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Import</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Export</a></li>
      </ul>

      <li  data-toggle="collapse" data-target="#help" class="collapsed">
        <a href="#"><i class="fa fa-life-ring fa-lg fa-fw sidebar-icon"></i> Help <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="help">
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Documentation</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> Customer Support <small><i class="fa fa-external-link"></i></small></a></li>
      </ul>-->

      <li>
        <a routerLink="/bookings"><i class="fa fa-book fa-lg fa-fw sidebar-icon"></i> Booking</a>
      </li>

      <li>
        <a routerLink="/products"><i class="fa fa-list-ul fa-lg fa-fw sidebar-icon"></i> Products</a>
      </li>

      <li>
        <a routerLink="/orders"><i class="fa fa-bookmark fa-lg fa-fw sidebar-icon"></i> Orders</a>
      </li>

      <li  data-toggle="collapse" data-target="#resources" class="collapsed">
        <a><i class="fa fa-shopping-cart fa-lg fa-fw sidebar-icon"></i> Resources <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="resources">
        <li><a routerLink="/tables"><i class="fa fa-angle-double-right"></i> Tables</a></li>
        <li><a routerLink="/seats"><i class="fa fa-angle-double-right"></i> Seats</a></li>
      </ul>

      <li  data-toggle="collapse" data-target="#settings" class="collapsed">
        <a><i class="fa fa-user-circle fa-lg fa-fw sidebar-icon"></i> {{ user.name }} <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="settings">
        <li><a routerLink="/profile"><i class="fa fa-angle-double-right"></i> Profile</a></li>
        <li><a (click)="logout()"><i class="fa fa-angle-double-right"></i> Logout</a></li>
      </ul>
    </ul>
  </div>
</div>
