<div class="container">
  <h3 mat-dialog-title>Table id: {{data._id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="confirmEdit(tableForm)" [formGroup]="tableForm">

    <div class="form-group">
      <mat-form-field color="green">
        <input matInput placeholder="Name" name="name"
               formControlName="name" required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!tableForm.valid" [mat-dialog-close]="1">Save</button>
    </div>
  </form>
</div>
