<mat-toolbar color="green">
  <span>Restaurant Overview</span>
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="cards">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-success">
          <div class="ct-chart" id="dailySalesChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Total Orders</h4>
          <p class="card-category">
            Number of orders
          </p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">bookmark</i> {{ ordersCount }} orders
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-warning">
          <div class="ct-chart" id="websiteViewsChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Revenue</h4>
          <p class="card-category">Total invoiced</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">list</i> {{ ordersTotalInvoiced }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-chart">
        <div class="card-header card-header-danger">
          <div class="ct-chart" id="completedTasksChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Restaurant Capacity</h4>
          <p class="card-category">Number of seats</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">event_seat</i> {{ capacity }} seats
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <ol class="cabin fuselage" *ngIf="loaded; else loading">
    <h4 style="margin-left: -10px;">Available seats</h4>
    <h6 *ngIf="keys.length == 0">No seats available.</h6>
    <li class="row row" *ngFor="let key of keys">
      <h6>{{ key }}</h6>
      <ol class="seats" type="A">
        <li class="seat" *ngFor="let seat of processedSeats[key]">
          <input type="checkbox" id="{{ seat._id }}" [checked]="!seat.occupied" (click)="changeStatus(seat._id, !seat.occupied)"/>
          <label for="{{ seat._id }}">{{ seat.name }}</label>
        </li>
      </ol>
    </li>
  </ol>
</div>


<ng-template #loading>
  <div class="loader"></div>
</ng-template>
