<div class="container fixed-top">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ReServe - Sign up</h3>
        </div>
        <div class="panel-body">
          <form id="register" #registerData="ngForm" (ngSubmit)="register(registerData.value)">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="Name" name="name" type="text" ngModel>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Description" name="description" type="text" ngModel>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="E-mail" name="email" type="text" ngModel>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" value="" ngModel>
                <div class="text-danger"
                     *ngIf="authService.hasError">
                  <small>{{ authService.errorMsg }}</small>
                </div>
              </div>

              <input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
