<div class="container">
  <h3 mat-dialog-title>Booking id: {{data._id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="confirmEdit(bookingForm)" [formGroup]="bookingForm">

    <div class="form-group">
      <mat-form-field color="green">
        <input matInput placeholder="Title" name="title"
               formControlName="title" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="green">
        <input matInput placeholder="Client Name" name="client_name"
               formControlName="client_name" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="green">
        <input matInput placeholder="Description" name="description"
               formControlName="description" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="green">
        <mat-select placeholder="Seats" formControlName="seats" required multiple>
          <mat-option *ngFor="let seat of seats" [value]="seat._id">
            {{ seat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <input [owlDateTime]="dt1" placeholder="Start Time" name="start" formControlName="start" required>
      <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
      <owl-date-time #dt1></owl-date-time>
    </div>

    <div class="form-group">
      <input [owlDateTime]="dt2" placeholder="End Time" name="end" formControlName="end">
      <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
      <owl-date-time #dt2></owl-date-time>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!bookingForm.valid" [mat-dialog-close]="1">Save</button>
    </div>
  </form>
</div>
