<h3>Profile</h3>
<hr>

<form *ngIf="user | async; else loading" [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm)">
  <div class="form-group"
       [ngClass]="{
        'has-danger': profileForm.controls.name.invalid && (profileForm.controls.name.dirty || profileForm.controls.name.touched),
        'has-success': profileForm.controls.name.valid && (profileForm.controls.name.dirty || profileForm.controls.name.touched)
      }">
    <label>Name</label>
    <input type="text"
           class="form-control"
           formControlName="name"
           required>
    <div class="text-danger"
         *ngIf="profileForm.controls.name.errors && (profileForm.controls.name.dirty || profileForm.controls.name.touched)">
      <small *ngIf="profileForm.controls.name.errors.required">Name is required</small>
    </div>

  </div>

  <div class="form-group"
       [ngClass]="{
        'has-danger': profileForm.controls.description.invalid && (profileForm.controls.description.dirty || profileForm.controls.description.touched),
        'has-success': profileForm.controls.description.valid && (profileForm.controls.description.dirty || profileForm.controls.description.touched)
      }">
    <label>Description</label>
    <textarea class="form-control"
           formControlName="description"
              required></textarea>
    <div class="text-danger"
         *ngIf="profileForm.controls.description.errors && (profileForm.controls.description.dirty || profileForm.controls.description.touched)">
      <small *ngIf="profileForm.controls.description.errors.required">Description is required</small>
    </div>

  </div>

  <div class="form-group"
       [ngClass]="{
        'has-danger': profileForm.controls.email.invalid && (profileForm.controls.email.dirty || profileForm.controls.email.touched),
        'has-success': profileForm.controls.email.valid && (profileForm.controls.email.dirty || profileForm.controls.email.touched)
   }">
    <label>Email</label>
    <input type="email"
           class="form-control"
           formControlName="email"
           required>
    <div class="text-danger"
         *ngIf="profileForm.controls.email.errors && (profileForm.controls.email.dirty || profileForm.controls.email.touched)">
      <small *ngIf="profileForm.controls.email.errors.required">Email is required</small>
      <small *ngIf="profileForm.controls.email.errors.pattern">The email address must contain at least the @ character</small>
    </div>

  </div>

  <div class="form-group"
       [ngClass]="{
        'has-danger': profileForm.controls.password.invalid && (profileForm.controls.password.dirty || profileForm.controls.password.touched),
        'has-success': profileForm.controls.password.valid && (profileForm.controls.password.dirty || profileForm.controls.password.touched)
   }">
    <label>Password</label>
    <input type="password"
           class="form-control"
           formControlName="password"
           required>
    <div class="text-danger"
         *ngIf="profileForm.controls.password.errors && (profileForm.controls.password.dirty || profileForm.controls.password.touched)">
      <small *ngIf="profileForm.controls.password.errors.required">Password is required</small>
      <small *ngIf="profileForm.controls.password.errors.minlength">Password must be 8 characters long, we need another {{profileForm.controls.password.errors.minlength.requiredLength - profileForm.controls.password.errors.minlength.actualLength}} characters </small>
    </div>
  </div>

  <!--<pre>{{profileForm.value | json}}</pre>-->

  <button type="submit" class="btn btn-success" [disabled]="!profileForm.valid">Save Profile</button>
</form>

<ng-template #loading>
  <div class="loader"></div>
</ng-template>
