<div class="container">
  <h3 mat-dialog-title>Add new order</h3>

  <form class="mat-dialog-content" (ngSubmit)="confirmAdd(orderForm)" [formGroup]="orderForm">

    <div class="form-group">
      <mat-form-field color="green">
        <input matInput placeholder="Name" name="name"
               formControlName="name" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="green">
        <mat-select placeholder="Seats" formControlName="seats" required multiple>
          <mat-option *ngFor="let seat of seats" [value]="seat._id">
            {{ seat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="green">
        <mat-select placeholder="Products" formControlName="products" required multiple>
          <mat-option *ngFor="let product of products" [value]="product._id">
            {{ product.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!orderForm.valid" [mat-dialog-close]="1">Save</button>
    </div>
  </form>
</div>
