<div class="container">
  <h3 mat-dialog-title>Add new seat</h3>

  <form class="mat-dialog-content" (ngSubmit)="confirmAdd(seatForm)" [formGroup]="seatForm">

    <div class="form-group">
      <mat-form-field color="green">
        <input matInput placeholder="Name" name="name"
               formControlName="name" required>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="green">
        <mat-select placeholder="Table" formControlName="table_id" required>
          <mat-option *ngFor="let table of tables" [value]="table._id">
            {{ table.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!seatForm.valid" [mat-dialog-close]="1">Save</button>
    </div>
  </form>
</div>
