<mat-toolbar color="green">
  <span>Seats</span>
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="example-container mat-elevation-z8" *ngIf="loaded; else loading">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="table">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Table </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.table[0].name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="green" (click)="addItem()">
          <mat-icon aria-label="Add new seat">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="green" (click)="editItem(i, row._id, row.name, row.table_id)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="green" (click)="deleteItem(i, row._id, row.name)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "rowClicked(row)" ></mat-row>
  </mat-table>

  <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator [length]="5" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</div>

<ng-template #loading>
  <div class="loader"></div>
</ng-template>
